<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<!--新商户验证-->
	<http pattern="/new/m/**" use-expressions="true">
		<intercept-url pattern="/new/m/enter" access="permitAll()" />
		<intercept-url pattern="/new/m/login" access="permitAll()" />
		<intercept-url pattern="/new/m/login/show" access="permitAll()" />
		<intercept-url pattern="/new/m/bind" access="permitAll()" />
		<intercept-url pattern="/new/m/bind/show" access="permitAll()" />
		<intercept-url pattern="/new/m/verify/query" access="permitAll()" />
		<intercept-url pattern="/new/m/loadRefundDetail" access="permitAll()" />
		<intercept-url pattern="/new/m/forgetPassword" access="permitAll()" />
		<intercept-url pattern="/new/m/forgetPassword/show" access="permitAll()" />
		<intercept-url pattern="/new/m/getCheckCode/query" access="permitAll()" />
		<intercept-url pattern="/new/m/more/*" access="permitAll()" />
		<intercept-url pattern="/new/m/clause/*" access="permitAll()" />
		<intercept-url pattern="/new/m/**" access="hasRole('ROLE_NEW_MERCHANT')" />
		<form-login login-page="/new/m/login/show" authentication-success-handler-ref="authSuccessHandler" authentication-failure-handler-ref="authFailureHandler" />
		<logout logout-success-url="/new/m/login/show" logout-url="/new/m/j_spring_security_logout" />
	</http>

	<http pattern="/m/**" use-expressions="true">
		<intercept-url pattern="/m/register/**" access="permitAll()" />
		<intercept-url pattern="/m/checkCode/**" access="permitAll()" />
		<intercept-url pattern="/m/**" access="hasRole('ROLE_MERCHANT')" />
		<form-login login-page="/auth/m-login" authentication-success-handler-ref="authSuccessHandler" authentication-failure-handler-ref="authFailureHandler" />
		<logout logout-success-url="/auth/m-login" />
	</http>

	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/app/**" access="permitAll()" />
		<intercept-url pattern="/we/**" access="permitAll()" />
		<intercept-url pattern="/campaign/**" access="permitAll()" />
		<intercept-url pattern="/home/entry" access="permitAll()" />
		<intercept-url pattern="/home/enter" access="permitAll()" />
		<intercept-url pattern="/auth/login" access="permitAll()" />
		<intercept-url pattern="/auth/m-login" access="permitAll()" />
		<intercept-url pattern="/auth/loginfailed" access="permitAll()" />
		<intercept-url pattern="/auth/newUserEntry" access="permitAll()" />
		<intercept-url pattern="/resources/**" access="permitAll()" />
		<intercept-url pattern="/merchant/calculate" access="permitAll()" />
		<intercept-url pattern="/merchant/calculator" access="permitAll()" />
		<intercept-url pattern="/merchant/page/**" access="permitAll()" />
		<intercept-url pattern="/sales/getRegionByProvince" access="permitAll()" />
		<intercept-url pattern="/rest/**" access="permitAll()" />
		<intercept-url pattern="/restful/**" access="permitAll()" />
		<intercept-url pattern="/public/**" access="permitAll()" />
		<intercept-url pattern="/upload" access="permitAll()" />
		<intercept-url pattern="/v/**" access="permitAll()" />
		<intercept-url pattern="/background/**" access="hasAnyRole('ROLE_ADMIN','ROLE_SALES')" />
		<intercept-url pattern="/report/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/fileUpload" access="permitAll()" /><!--上传-->
		<!--<intercept-url pattern="/new/m/**" access="permitAll()" />/-->
		<intercept-url pattern="/**" access="hasAnyRole('ROLE_SALES','ROLE_STAFF','ROLE_MERCHANT')" />
		<form-login login-page="/auth/login" authentication-success-handler-ref="authSuccessHandler" authentication-failure-handler-ref="authFailureHandler"/>
		<logout logout-success-url="/auth/login" />
	</http>

	<authentication-manager alias="authenticationManager">
		<authentication-provider user-service-ref="authService" />
	</authentication-manager>
	
	<!-- 
	<beans:bean id="authSuccessHandler" class="com.cardvalue.wechat.auth.AuthenticationSuccessHandlerImpl">
		<beans:constructor-arg ref="userService"/>
	</beans:bean>	
	 -->

	<beans:bean id="authFailureHandler" class="com.cardvalue.wechat.auth.AuthenticationFailureHandlerImpl"/>

</beans:beans>