<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>卡得万利商业保理</title>
    <!-- bootstrap-->
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <!--framework7 css-->
    <link rel="stylesheet" href="lib/framework7/css/framework7.css">
    <!--main css-->
    <link rel="stylesheet" href="css/wechat.css">
</head>
<body>
<!-- Views-->
<div class="views">
    <!-- Your main view, should have "view-main" class-->
    <div class="view view-main">
        <!-- Top Navbar-->
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left"><a href="myshop.html" class="back link"> <i class="icon icon-back card-back"></i></a></div>
                <div class="center sliding">确认书</div>
            </div>
        </div>
        <!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
        <div class="pages navbar-through toolbar-through">
            <!-- Page, data-page contains page name-->
            <div data-page="index" class="page">
                <!-- Scrollable page content-->
                <div class="page-content">
                    <div>
                        <div class="list-block media-list">
                            <ul>
                                <li>
                                    <div href="#" class="item-content">
                                        <div class="item-inner">
                                            <div class="pic-thumbnail border0">
                                                <div class="row">
                                                    <div class="thumbnail-inner">
                                                        <img class="thumbnailimg" id="change-pic" src="images/idcard_front.jpg" alt=""/>
                                                        <a class="delete-btn"><img class="delete-img" src="images/delete.png" /></a>
                                                    </div>
                                                    <div class="thumbnail-inner">
                                                        <img class="thumbnailimg-add" src="images/add-pic.png" alt=""/>
                                                        <input class="upload-btn" type="file" name='pictureFile'/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> <!--page-content-->
            </div>
        </div><!--page-->
        <div class="toolbar tabbar tabbar-labels">
            <div class="toolbar-inner">
                <a class="button button-fill toolbar-btn" href="#" id="confirmation">提交</a>
            </div>
        </div>
    </div>
</div>
<!-- Path to Framework7 Library JS-->
<script type="text/javascript" src="lib/framework7/js/framework7.min.js"></script>
<!-- Path to your app js-->
<script type="text/javascript" src="js/wechat.js"></script>
<script type="text/javascript" src="lib/jquery.js"></script>
<script type="text/javascript">
    $("input[name='pictureFile']").change(function () {
        var height=$("#change-pic").height();
        var width=$("#change-pic").width();
        var classValue = "";
        if (width > height) classValue = "width-large";
        else classValue = "height-large";
        //追加HTML
        $("#change-pic").addClass(classValue);
    });
</script>
</body>
</html>